/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center the custom select */
body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f0f0; */
}

/* INDEX */

table, th, td {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0.42rem;
    margin-left: auto;
    margin-right: auto;
    border: 0.05rem solid black;
}

.leaderboardheader {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.42rem;
    margin-top: 0.42rem;
    margin-bottom: 0.1rem;
}

/* SIGN UP */

.pageheader {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.42rem;
    margin-top: 0.42rem;
}

.warning {
    text-align:center;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    padding: 0.72rem;
    border: 0.05rem solid #d6006e;
}

.warning h3 {
    font-weight: bold;
}

input, select, label, button {
    margin-left: 0.4rem;
    margin-bottom: 0.4rem;
    padding: 0.2rem;
}
/* NAV BAR */

 /* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #75d1e0;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #extraLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #000000;
  padding: 1rem 1.2rem;
  text-decoration: none;
  font-size: 1.4rem;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #616365;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #0093D0;
  color: #000000;
}




/* POPUPS */
 /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 20rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 0.42rem;
  padding: 0.72rem 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -4.8rem;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
